    {% load static %}
    {% include 'header.html' %}
    {% block content %}


        <div class="content-body">
        <div class="container-fluid">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <h1>Landing Page</h1>
                    <center>
                        <img src="{% static '/nebdaouianass_app/e-commerce-1.png'%}"  width="700px" alt="Landing Page">
                        <div style="margin-top: 50px">
                            <h6>Welcome to Machines Store </h6>
                        </div>
                    </center>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

    {% include 'footer.html' %}
